* {
    font-family: 'Work Sans', sans-serif;
}

/* all section(shared)related style */

.primary-btn-color {
    background: #E55473;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    padding: 20px 43px;
    border-style: none;
}

.primary-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.primary-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* header related style */
.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
}

.header {
    margin: 0 200px 0 200px;
}

.header-img {
    width: 635px;
    height: 800px;
    margin: 50px 200px 0 0;
}




/* first section style */
.folwer-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
}

.folower-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.image-container {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    gap: 17px;


}

.img-primary {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px;
    padding-bottom: 0;


}

.img-discription {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}



/* second section syle */
.hot-content {
    display: flex;
    justify-content: space-between;
    margin: 0 400px;
    gap: 200px;
    align-items: center;
}

.hot-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.hot-image {
    margin: 100px;
}

.img-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
    width: 342px;
    height: 396px;
    align-items: center;

}

/* third section style */
.Instagram-container {
    width: 80%;
    margin: 0 auto;
}

.instagram-img {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;

}




/* four section style */
.get-deal-container {
    background-image: url('image/get-deal.png');
    background-repeat: no-repeat;


}
.get-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 0 0;
}

.get-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.get-deal-form {
    text-align: center;
}

.form {
    padding: 22px 22px;
}



/* footer section style*/
.footer {
    background-color: #272727;
    /* width: 1922px; */
    height: 449px;
    margin: 128px auto 0;
}

.shop-title {
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding-top: 128px;
}

.color {
    color: #E55473;
}

.shop-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-description {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}